
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="vert">WELCOME TO</ion-card-subtitle>
      <ion-card-title class="ion-text-center" color="danger"> EVENTIAL </ion-card-title>
    </ion-card-header>
   <div class= "ion-text-center">
      <img src="assets/bluelogo.png" alt="">
   </div>

  </ion-card>

  <ion-card style="padding-top: 20px; padding-bottom: 20px;">
    <ion-list color="vert" style="padding-left: 10px;">
      <div style="margin-top: 20px; margin-bottom: 20px;" ><ion-icon name="ellipse-sharp" color="danger"></ion-icon><p style="display: inline;" [routerLink]="['/tabs/event-list']" >EVENTS</p><br></div>  
    </ion-list>
  </ion-card>
  <ion-card style="padding-top: 20px; padding-bottom: 20px;">
    <ion-list color="vert" style="padding-left: 10px;">
      <div style="margin-top: 20px; margin-bottom: 20px;" ><ion-icon name="ellipse-sharp" color="danger"></ion-icon><p style="display: inline;" [routerLink]="['/tabs/venue-list']" >VENUES</p><br></div>
    </ion-list>
  </ion-card>

</ion-content>
