<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="event-list">
      <ion-icon name="logo-firebase"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="venue-list">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Venues</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>