<ion-header>
  <ion-toolbar color="primary" >
    <ion-title color = >About</ion-title>
  </ion-toolbar>
</ion-header>


 
  <ion-content color = "">
    <ion-card >
      <ion-card-header >
        <ion-card-subtitle color = "danger"> Follow up your events with</ion-card-subtitle>
      <div class= "ion-text-center">
        <img src="assets/bluelogo.png" alt="" >
     </div>

      <ion-card-title color = "danger" class="ion-text-justify">EVENTIAL</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p >
           Evential un outil informatique qui permet d’enregistrer et de répertorier toutes les entrées et les sorties de vins. 
          Le logiciel tient compte de tous les mouvements de stocks, qu’il s’agisse de d'ajout, de suppression ou autre action.
        </p>
      </ion-card-content>
      </ion-card> 
  
  </ion-content>

